@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<!doctype html>
<html lang="en">
<head>
  
    <title>Book library</title>
   
</head>
<body>

    <h1>Book's authors </h1>
    <div>
        @if (ViewData["isAdmin"] != null && (bool) ViewData["isAdmin"])
        {
            <a href="@Url.Action("GetAbsentBooksAuthors", "BookAuthor", Model.Rows.Count == 0 ? (object) new {idBook = 0} : new {idBook = Model.Rows[0][0]})" role="button" class="btn btn-primary btn-lg">Add author</a>
        }
        
    </div>
       
    <table class="table table-bordered table-striped">       

        @if (Model.Columns.Count > 1)
        {
            <tr>
                <th>№</th>
                <th>First name</th>
                <th>Second name</th>
                <th>Birth year</th>
            </tr>
        }
        else
        {
            <h3>Authors are absend</h3>
        }


        @if (Model.Columns.Count > 1)
        {
            for (int i = 0; i < Model.Rows.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model.Rows[i][2]</td>
                    <td>@Model.Rows[i][3]</td>
                    <td>@Model.Rows[i][4]</td>
                    @if (ViewData["isAdmin"] != null && (bool)ViewData["isAdmin"])
                    {
                        <th><a href="@Url.Action("Delete", "BookAuthor", new {idBook = Model.Rows[i][0], idAuthor = Model.Rows[i][1]})" role="button" class="btn btn-outline-primary btn-block">Delete</a></th>
                    }
                    <th><a href="@Url.Action("BooksByAuthor", "Book", new { idAuthor = Model.Rows[i][1] })" role="button" class="btn btn-outline-primary btn-block">Books</a></th>
                </tr>
            }
        }
        <tr>
            <td>
                @Html.ActionLink("Back", "Index", "Book")
            </td>
        </tr>
    </table>
